In [1]:
import pandas as pd

In [29]:
hotels = pd.read_csv(r"C:\Users\azatb\Downloads\ML 3 LAB\ML 3 LAB\hotel_booking_data.csv")

In [7]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [9]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [13]:
num_rows = hotels.shape[0]
num_rows

119390

In [19]:
missing_data = hotels.isnull().sum()
missing_data = missing_data[missing_data > 0] 
missing_data

children         4
country        488
agent        16340
company     112593
dtype: int64

In [31]:
hotels = hotels.drop(columns=['company'])
hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [35]:
top_countries = hotels['country'].value_counts().head(5)

print(top_countries)

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

In [37]:
max_adr_row = hotels.loc[hotels['adr'].idxmax()]
name = max_adr_row['name']
max_adr = max_adr_row['adr']
print(f"Имя человека с наибольшим ADR: {name}, значение ADR: {max_adr}")

Имя человека с наибольшим ADR: Daniel Walter, значение ADR: 5400.0

In [43]:
average_adr = hotels['adr'].mean() 
average_adr_rounded = round(average_adr, 2)
print(f"Среднее значение ADR для всех бронирований: {average_adr_rounded}")

Среднее значение ADR для всех бронирований: 101.83

In [45]:
hotels['total_nights'] = hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights']

average_nights = hotels['total_nights'].mean()


average_nights_rounded = round(average_nights, 2)

print(f"Среднее количество ночей для всех бронирований: {average_nights_rounded}")

Среднее количество ночей для всех бронирований: 3.43

In [47]:
hotels['total_nights'] = hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights']


hotels['total_booking_amount'] = hotels['adr'] * hotels['total_nights']


average_booking_amount = hotels['total_booking_amount'].mean()

average_booking_amount_rounded = round(average_booking_amount, 2)

print(f"Средняя общая сумма бронирования: {average_booking_amount_rounded}")

Средняя общая сумма бронирования: 357.85

In [51]:
special_requests = hotels[hotels['total_of_special_requests'] == 5]
result = special_requests[['name', 'email']]
print(result)

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [53]:
total_bookings = hotels.shape[0] 
repeated_guest_bookings = hotels[hotels['is_repeated_guest'] == 1].shape[0] 
percentage_repeated_guests = (repeated_guest_bookings / total_bookings) * 100

print(f"Процент бронирований, классифицированных как бронирования повторными гостями: {percentage_repeated_guests:.2f}%")

Процент бронирований, классифицированных как бронирования повторными гостями: 3.19%

In [55]:
top_5_surnames = hotels['name'].str.split().str[1].value_counts().head(5)
print(top_5_surnames)

name
Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: count, dtype: int64

In [57]:
hotels['total_children_babies'] = hotels['children'] + hotels['babies'] 
max_children_babies = hotels['total_children_babies'].max()
names_with_max_children_babies = hotels[hotels['total_children_babies'] == max_children_babies]['name']
print(names_with_max_children_babies)

328        Jamie Ramirez
46619    Nicholas Parker
Name: name, dtype: object

In [59]:
hotels['area_code'] = hotels['phone-number'].str[:3] 
top_area_codes = hotels['area_code'].value_counts().head(3)
print(top_area_codes)

area_code
799    168
185    167
541    166
Name: count, dtype: int64

In [61]:
checkins_1_15 = hotels[(hotels['arrival_date_day_of_month'] >= 1) & (hotels['arrival_date_day_of_month'] <= 15)].shape[0]
checkins_1_15

58152

In [63]:
# Преобразуем дату заселения в формат datetime
hotels['arrival_date'] = pd.to_datetime(hotels['arrival_date_year'].astype(str) + '-' +
                                         hotels['arrival_date_month'] + '-' +
                                         hotels['arrival_date_day_of_month'].astype(str))

# Создаем новый столбец для дня недели
hotels['day_of_week'] = hotels['arrival_date'].dt.day_name()

# Подсчитываем количество заселений по дням недели
checkins_by_day = hotels['day_of_week'].value_counts().reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

# Преобразуем в DataFrame
checkins_by_day_df = checkins_by_day.reset_index()
checkins_by_day_df.columns = ['Day of Week', 'Number of Check-ins']

print(checkins_by_day_df)

  Day of Week  Number of Check-ins
0      Monday                18171
1     Tuesday                13999
2   Wednesday                16139
3    Thursday                19254
4      Friday                19631
5    Saturday                18055
6      Sunday                14141